body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: 'Gumela';
  src:local("Gumela"), url('../src/fonts/Gumela\ Regular.otf') format("truetype");
}
*{
  font-family: 'Gumela';
  font-weight: normal;
  font-size: 20px;
}